body{
  -webkit-font-smoothing: antialiased;
  font-family: "PetalaPro","Helvetica Neue",Helvetica,"Arial","Source Han Sans CN","Hiragino Sans GB","Microsoft YaHei","Microsoft JhengHei",sans-serif;
}

.center{
  text-align: center;
}

.phase{
  letter-spacing: 18px;
  font-size: 1.4em;
}

.button{
  text-decoration: none;
  color: #fff;
  background-color: #69C;
  padding: 12px 32px;
  font-weight: bold;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  width: 100px;
  text-align: center;
}